html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.c {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.transparent-c-left {
  position: absolute;
  top: 5%;
  z-index: 2; 
  /* background-color: #00FF87;  */
  pointer-events: none; /* Desativa a interação do mouse com o canvas */
}

.transparent-c-right {
  position: absolute;
  
  z-index: 2; 
  /* background-color: #00FF87; */
  pointer-events: none; /* Desativa a interação do mouse com o canvas */
}


.circular-btn {
  width: 120px; /* Defina o tamanho desejado */
  height: 120px; /* A mesma altura para criar um círculo */
  background-color: gold; /* Cor de fundo desejada */
  border: none; /* Remova a borda */
  border-radius: 50%; /* Defina a forma do círculo */
}


.button-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%; /* Centralize verticalmente */
  left: 50%; /* Centralize horizontalmente */
  transform: translate(-50%, -50%); /* Centralize em ambas as direções */
}


#clap-btn {
  position: absolute;
  top: 40px;
  right: 470px;
  background: linear-gradient(20deg, #3A86FF 0%, #8338EC 100%, #8338EC 100%);
  border-radius: 9999px;
  border: 5px black solid;
}

#clap-icon{
  background-image: url('./img/clap-icon.webp');
  width: 60px; 
  height: 90px; 
}

#digital_tom-btn {
  position: absolute;
  top: 195px;
  right: 510px;
  background: linear-gradient(180deg, #3A86FF 0%, #00FF87 100%);
  border-radius: 9999px;
  border: 5px black solid;
}

#digital_tom-icon{
  background-image: url('./img/drumsticks.png');
  width: 60px; /* Largura do ícone */
  height: 90px; /* Altura do ícone */
}

#snare-btn {
  position: absolute;
  top: 350px;
  right: 470px;
  background: linear-gradient(3deg, #FFBE0B 0%, #00FF87 100%);
  border-radius: 9999px;
  border: 5px black solid;
}

#snare-icon{
  background-image: url('./img/snare-drum.png');
  width: 60px; 
  height: 90px; 
}

#kick-btn {
  position: absolute;
  bottom: 350px;
  left: 470px;
  background: linear-gradient(20deg, #3A86FF 0%, #8338EC 100%, #8338EC 100%);
  border-radius: 9999px;
  border: 5px black solid;
}

#kick-icon{
  background-image: url('./img/bass-drum.png');
  width: 60px; 
  height: 90px; 
}

#hi_hat-btn {
  position: absolute;
  bottom: 210px;
  left: 520px;
  background: linear-gradient(180deg, #3A86FF 0%, #00FF87 100%);
  border-radius: 9999px;
  border: 5px black solid;
}

#hi_hat-icon{
  background-image: url('./img/hi-hat.png');
  width: 60px; 
  height: 90px; 
}

#tom-btn {
  position: absolute;
  bottom: 60px;
  left: 490px;
  background: linear-gradient(3deg, #FFBE0B 0%, #00FF87 100%);
  border-radius: 9999px;
  border: 5px black solid;
}

#tom-icon{
  background-image: url('./img/tom.png');
  width: 60px; 
  height: 90px; 
}

.sliders {
  width: 30%;
  z-index: 2;
}
/* the slider bar */
.slider-left {
  bottom: 650px;
  left: 50px;
  position: relative;
  width: 100%;
  height: 1em;
  margin: 0;
  background-color: #29e;
  border-radius: 0.5em;
  box-sizing: border-box;
  font-size: 1em;
  -ms-touch-action: none;
  touch-action: none;
}

/* the slider handle */
.slider-left:before {
  content: "";
  display: block;
  position: relative;
  top: -0.5em;
  width: 2em;
  height: 2em;
  margin-left: -1em;
  border: solid 0.25em #fff;
  border-radius: 0.5em;
  background-color: inherit;
}

.slider-right {
  bottom: 650px;
  left: 50px;
  position: relative;
  width: 100%;
  height: 1em;
  margin: 0;
  background-color: #29e;
  border-radius: 0.5em;
  box-sizing: border-box;
  font-size: 1em;
  -ms-touch-action: none;
  touch-action: none;
}
/* the slider handle */
.slider-right:before {
  content: "";
  display: block;
  position: relative;
  top: -0.5em;
  width: 2em;
  height: 2em;
  margin-left: -1em;
  border: solid 0.25em #fff;
  border-radius: 0.5em;
  background-color: inherit;
}


.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 100px;
  width: 100px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 30px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.button-29.pressed {
  background-image: linear-gradient(135deg, #3f3d67, #7471a0);
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
}


.fx-btn {
  width: 150px;
  height: 120px;
  aspect-ratio: 1;
  clip-path: polygon(100.00% 50.00%,78.98% 57.76%,93.30% 75.00%,71.21% 71.21%,75.00% 93.30%,57.76% 78.98%,50.00% 100.00%,42.24% 78.98%,25.00% 93.30%,28.79% 71.21%,6.70% 75.00%,21.02% 57.76%,0.00% 50.00%,21.02% 42.24%,6.70% 25.00%,28.79% 28.79%,25.00% 6.70%,42.24% 21.02%,50.00% 0.00%,57.76% 21.02%,75.00% 6.70%,71.21% 28.79%,93.30% 25.00%,78.98% 42.24%);
  cursor: pointer;
  background: linear-gradient(3deg, #D68800 0%, #00B961 100%);
  color: #fff; /* Cor do texto dentro do botão */
  cursor: pointer; /* Mude o cursor ao passar o mouse */
}

.fx-btn.pressed{
  background: linear-gradient(3deg, #FFBE0B 0%, #00FF87 100%);
}

.fx-btn-icon{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%; /* Centralize verticalmente */
  left: 50%; /* Centralize horizontalmente */
  transform: translate(-50%, -50%); /* Centralize em ambas as direções */
}

#fx-left-btn1 {
  position: absolute;
  bottom: 490px;
  left: 60px;
}


#fx-left-btn1-icon{
  background-image: url('./img/fx-icons/echo.png');
  width: 60px; 
  height: 90px; 
}

#fx-left-btn2 {
  position: absolute;
  bottom: 490px;
  left: 270px;
}

#fx-left-btn2-icon{
  background-image: url('./img/fx-icons/distortion.png');
  width: 60px; 
  height: 90px; 
}

#fx-right-btn1 {
  position: absolute;
  top: 500px;
  right: 50px;
}

#fx-right-btn1-icon{
  background-image: url('./img/fx-icons/pingpong.png');
  width: 60px; 
  height: 90px; 
}

#fx-right-btn2 {
  position: absolute;
  top: 500px;
  right: 270px;
}

#fx-right-btn2-icon{
  background-image: url('./img/fx-icons/tremolo.png');
  width: 60px; 
  height: 90px; 
}

#circle-left {
  position: fixed; /* Defina a posição como 'absolute' ou 'fixed' */
  width: 450px;
  height: 450px;
  max-width: 450px;
  max-height: 450px;
  background: radial-gradient(58.64% 58.64% at 71.86% 19.82%, #FFBE0B 0%, #FB5607 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 5px black solid;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  left: 2%;
  bottom: 2%;
  z-index: 1; /* Defina um valor de z-index menor que o do .transparent-c */
}

#circle-right {
  position: fixed;
  width: 450px; /* Largura máxima */
  height: 450px; /* Altura máxima */
  max-width: 450px; /* Largura máxima */
  max-height: 450px; /* Altura máxima */
  background: radial-gradient(58.64% 58.64% at 71.86% 19.82%, #FFBE0B 0%, #FB5607 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 5px black solid;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%; /* Preenchimento relativo à janela */
  right: 2%; /* Margem à direita relativa à janela */
  top: 2%; /* Margem superior relativa à janela */
}


#profile-1-btn {
  top: 50%; /* Posiciona o botão no meio verticalmente */
  left: 50%; /* Posiciona o botão no meio horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o botão */
  position: absolute;
}

#profile-2-btn {
  top: calc(50% + 70px); /* Posiciona o segundo botão abaixo do primeiro (ajuste a 70px conforme necessário) */
  left: 50%; /* Posiciona o botão no meio horizontalmente */
  transform: translate(-50%, 0); /* Centraliza horizontalmente */
  position: absolute;
}