html, body {
    background: darkmagenta;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fx-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.fx-btn img {
  width: 80px; /* Largura da imagem */
  height: 80px; /* Altura da imagem */
  opacity: 0.7; /* Opacidade da imagem (opcional) */
  border-radius: 50%; /* Para criar uma forma de círculo (opcional) */
}

.circular-btn {
  width: 50px; /* Largura igual à altura para torná-lo um círculo perfeito */
  height: 50px;
  background-color: #3498db; /* Cor de fundo */
  border: none; /* Remova a borda */
  border-radius: 50%; /* Transforme-o em um círculo */
  color: #fff; /* Cor do texto */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Transforma o cursor em uma mão quando paira */
  margin: 5px; /* Espaçamento entre os botões */
}

/* Estilos específicos para cada botão */
#kick-btn {
  background-color: #e74c3c; /* Cor diferente para o botão Kick */
}

#snare-btn {
  background-color: #27ae60; /* Cor diferente para o botão Snare */
}

#circle {
  width: 400px;
  height: 400px;
  background-color: #3498db;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
